/* ------------- */
/* IMPORTANT PHONE OPTIMIZATIONS */
/* ------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--brand-background: #BAB7B1;
	--brand-primary: #36454F;
	--brand-secondary: #67616E;
	--brand-accent: #6C7D72;
}

body {
	margin: 0;
	font: 1rem/1.5 sans-serif;
}

/* making sure that images are well suited and opt for images */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 0rem 1rem;
}

/* ------------- */
/* NAVBAR */
/* ------------- */

#main-nav {
	background-color: var(--brand-secondary);
	/* idk if i wanna do this cuz it messes up with the links */
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 0.5rem;
}

#main-nav .nav-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#main-nav .nav-link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 600;
	padding: 0.5rem;
	border-radius: 0.4rem;
	line-height: 1;
	/* transitiion for the background color change */
	transition: background-color 0.2s ease, color 0.2s ease;
}

#main-nav .nav-link:hover,
#main-nav .nav-link:focus-visible {
	background-color: var(--brand-accent);
	outline: 2px solid transparent;
}

/* ------------- */
/* HEADERS */
/* ------------- */

h1,
h2 {
	text-align: center;
}

h1 {
	color: var(--brand-accent);
	font-weight: 600;
}

h2 {
	background-color: var(--brand-accent);
	color: white;
	font-weight: 200;
	border-radius: 1rem;
	padding: 0.25rem;
}

h3 {
	color: var(--brand-secondary);
	font-weight: 400;
}

/* ------------- */
/* TABLES */
/* ------------- */

table {
	border-collapse: collapse;
	width: 100%;
}

table thead {
	display: none;
}

tr {
	display: block;
	background-color: var(--brand-secondary);
	color: white;
	border-radius: 12px;
	padding: 16px;
	margin-bottom: 16px;
}

td {
	display: flex;
	justify-content: space-between;
	padding: 6px 0;
	border-bottom: 1px solid var(--brand-primary);
}

tr:nth-child(even) {
	background-color: var(--brand-primary);
}

tr:nth-child(even) td {
	background-color: var(--brand-primary);
	border-bottom: 1px solid var(--brand-secondary);
}

td:last-child {
	border-bottom: none;
}

/* SHARED MEETS STUFF */
.shared-meets {
	max-height: 50rem;
	overflow-y: scroll;
}

.shared-meets td:nth-child(2)::before {
	content: "Athlete A's Place";
	font-weight: bold;
}

.shared-meets td:nth-child(3)::before {
	content: "Athlete B's Place";
	font-weight: bold;
}

/* EVENTS RESULTS STUFF */

.events-results {
	max-height: 50rem;
	overflow-y: scroll;
}

.events-results td:nth-child(2)::before {
	content: "Date";
	font-weight: bold;
}

.events-results td:nth-child(3)::before {
	content: "Place";
	font-weight: bold;
}

.events-results td:nth-child(4) {
	display: flex;
	justify-content: center;
}

.events-results td:nth-child(4) a {
	color: white;
}

/* INDIVIDUAL RACE STUFF */

.table-results {
	max-height: 50rem;
	overflow-y: scroll;
}

.table-results td:nth-child(2)::before {
	content: "Date";
	font-weight: bold;
}

.table-results td:nth-child(3)::before {
	content: "Location";
	font-weight: bold;
}

.table-results td:nth-child(4)::before {
	content: "Distance";
	font-weight: bold;
}

.table-results td:nth-child(5)::before {
	content: "Time";
	font-weight: bold;
}

.table-results td:nth-child(6)::before {
	content: "Place";
	font-weight: bold;
}

.table-results td:nth-child(7)::before {
	content: "Grade";
	font-weight: bold;
}

.table-results td:nth-child(8) {
	display: flex;
	justify-content: center;
}

.table-results td:nth-child(8) a {
	color: white;
}
